In [17]:
#validamos primero si tenemos las librerias instaladas si no las instala
import subprocess
import sys

def install(package):
    subprocess.check_call([sys.executable, "-m", "pip", "install", package])

# Verificar e instalar paquetes si es necesario
for package in ["pandas", "sqlalchemy", "ipywidgets", "pyodbc"]:
    try:
        __import__(package)
    except ImportError:
        install(package)

import pandas as pd
from sqlalchemy import create_engine
from ipywidgets import interact, Dropdown
import ipywidgets

In [25]:
!python --version

Python 3.12.7

In [27]:
# Configuración de la conexión a SQL Server
engine = create_engine("mssql+pyodbc://sa:Etra-3000@SQLtransit/QGIS_DT?driver=ODBC+Driver+17+for+SQL+Server")

# Obtener los cruces únicos
#df_cruces = pd.read_sql("SELECT DISTINCT cruce FROM [QGIS_DT].[dbo].[Ct_stu_espiras_new]", engine)
with engine.connect() as connection:
    df_cruces = pd.read_sql("SELECT DISTINCT cruce FROM [QGIS_DT].[dbo].[Ct_stu_espiras_new]", engine)

In [33]:
df_cruces

    cruce
0    3001
1    3007
2    3010
3    3011
4    3101
..    ...
155  4909
156  4912
157  4914
158  4924
159  4928

[160 rows x 1 columns]

In [49]:
cruce = 3710

# Obtener los IDs de carriles asociados al cruce seleccionado
query_carriles = f"""
SELECT description, longitud, latitude, carril, sentido
FROM [QGIS_DT].[dbo].[Ct_stu_espiras_new]
WHERE cruce = '{cruce}'
"""
df_carriles = pd.read_sql(query_carriles, engine)

# Obtener datos de tráfico
query_trafico = f"""
SELECT 
    DATEADD(MINUTE, DATEDIFF(MINUTE, 0, Time) / 15 * 15, 0) AS Intervalo_15_min, 
    COUNT(*) AS Vehiculos, 
    cruce
FROM [QGIS_DT].[dbo].[vw_dt_stu_espiras_15mnts]
WHERE cruce = '{cruce}'
GROUP BY DATEADD(MINUTE, DATEDIFF(MINUTE, 0, Time) / 15 * 15, 0), cruce
ORDER BY Intervalo_15_min
"""
df_trafico = pd.read_sql(query_trafico, engine)

In [51]:
df_trafico

        Intervalo_15_min  Vehiculos cruce
0    2025-01-01 00:00:00        168  3710
1    2025-01-01 00:15:00        154  3710
2    2025-01-01 00:30:00        154  3710
3    2025-01-01 00:45:00        154  3710
4    2025-01-01 01:00:00        168  3710
...                  ...        ...   ...
4711 2025-02-19 12:45:00         98  3710
4712 2025-02-19 13:00:00         98  3710
4713 2025-02-19 13:15:00         84  3710
4714 2025-02-19 13:30:00         98  3710
4715 2025-02-19 13:45:00         70  3710

[4716 rows x 3 columns]

In [53]:
# Análisis por hora
df_trafico['Hora'] = df_trafico['Intervalo_15_min'].dt.hour

In [55]:
df_trafico

        Intervalo_15_min  Vehiculos cruce  Hora
0    2025-01-01 00:00:00        168  3710     0
1    2025-01-01 00:15:00        154  3710     0
2    2025-01-01 00:30:00        154  3710     0
3    2025-01-01 00:45:00        154  3710     0
4    2025-01-01 01:00:00        168  3710     1
...                  ...        ...   ...   ...
4711 2025-02-19 12:45:00         98  3710    12
4712 2025-02-19 13:00:00         98  3710    13
4713 2025-02-19 13:15:00         84  3710    13
4714 2025-02-19 13:30:00         98  3710    13
4715 2025-02-19 13:45:00         70  3710    13

[4716 rows x 4 columns]

In [45]:
df_por_hora = df_trafico.groupby('Hora')['Vehiculos'].sum().reset_index()

In [47]:
df_por_hora

    Hora  Vehiculos
0      0      21515
1      1      21416
2      2      21408
3      3      21383
4      4      17276
5      5      12667
6      6       9348
7      7       9382
8      8       9333
9      9       9290
10    10      11709
11    11      12007
12    12      12147
13    13      11480
14    14      11882
15    15      11899
16    16      11968
17    17      11762
18    18      10154
19    19       9921
20    20       9983
21    21      10037
22    22      15047
23    23      21361

In [ ]:
# Encontrar la hora de máxima demanda en AM (6-12) y PM (12-18)
am_max = df_por_hora[(df_por_hora['Hora'] >= 6) & (df_por_hora['Hora'] < 12)].max()
pm_max = df_por_hora[(df_por_hora['Hora'] >= 12) & (df_por_hora['Hora'] < 18)].max()

print("Datos de Carriles:")
display(df_carriles)
print("\nDatos de Tráfico por Intervalo de 15 minutos:")
display(df_trafico)
print("\nCantidad de Vehículos por Hora:")
display(df_por_hora)
print(f"\nMáxima Demanda AM: {am_max.to_dict()}")
print(f"Máxima Demanda PM: {pm_max.to_dict()}")

# Mostrar widget de selección de cruce
interact(obtener_datos, cruce=cruce_dropdown);

interactive(children=(Dropdown(description='Cruce:', options=('3001', '3007', '3010', '3011', '3101', '3104', …

In [24]:

def obtener_datos(cruce):
    # Obtener los IDs de carriles asociados al cruce seleccionado
    query_carriles = f"""
SELECT id, description, longitud, latitude, carril, sentido
FROM [QGIS_DT].[dbo].[Ct_stu_espiras_new]
WHERE cruce = '{cruce}'
"""
    df_carriles = pd.read_sql(query_carriles, engine)
    
    # Obtener datos de tráfico
    query_trafico = f"""
SELECT 
    DATEADD(MINUTE, DATEDIFF(MINUTE, 0, Time) / 15 * 15, 0) AS Intervalo_15_min, 
    COUNT(*) AS Vehiculos, 
    cruce, id
FROM [QGIS_DT].[dbo].[vw_dt_stu_espiras_15mnts]
WHERE cruce = '{cruce}'
GROUP BY DATEADD(MINUTE, DATEDIFF(MINUTE, 0, Time) / 15 * 15, 0), cruce, id
ORDER BY Intervalo_15_min
"""
    df_trafico = pd.read_sql(query_trafico, engine)
    # Convertir la columna Intervalo_15_min a datetime
    df_trafico['Intervalo_15_min'] = pd.to_datetime(df_trafico['Intervalo_15_min'])
    
    # Análisis por hora
    df_trafico['Hora'] = df_trafico['Intervalo_15_min'].dt.hour
    df_por_hora = df_trafico.groupby('Hora')['Vehiculos'].sum().reset_index()
    
    # Encontrar la hora de máxima demanda en AM (6-12) y PM (12-18)
    am_max = df_por_hora[(df_por_hora['Hora'] >= 6) & (df_por_hora['Hora'] < 12)].max()
    pm_max = df_por_hora[(df_por_hora['Hora'] >= 12) & (df_por_hora['Hora'] < 18)].max()
    
    print("Datos de Carriles:")
    display(df_carriles)
    print("\nDatos de Tráfico por Intervalo de 15 minutos:")
    display(df_trafico)
    print("\nCantidad de Vehículos por Hora:")
    display(df_por_hora)
    print(f"\nMáxima Demanda AM: {am_max.to_dict()}")
    print(f"Máxima Demanda PM: {pm_max.to_dict()}")

# Mostrar widget de selección de cruce
interact(obtener_datos, cruce=cruce_dropdown);

interactive(children=(Dropdown(description='Cruce:', options=('3001', '3007', '3010', '3011', '3101', '3104', …